/* Haut de page */
header {
    text-align: center;
    border: 2px solid black;
}

/* Interface */
.navigation {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}

/* Milieu de page */

body {
    background-color: beige;
}
.logistique {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
}

.inventaire1 {
    border: 2px solid black;
    display: flex;
    height: 35vh;
    width: 15vw;
    margin: 5rem; 
    justify-content:center;
}

h2, h4 {
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
}

h2 {
    border: 2px solid black;
    height: 10%;
}

h4 {
    border: 2px solid black;
    height: 10%;
}

.canimo {
    /* position: absolute;
    right: 85.5rem;
    top: 26.75rem; */
}
.inventaire2 {
    border: 2px solid black;
    display: flex;
    height: 35vh;
    width: 15vw;
    margin: 5rem;
}

.inventaire3 {
    border: 2px solid black;
    display: flex;
    height: 40vh;
    width: 20vw;
    margin: 5rem;
}

.inventaire4 {
    border: 2px solid black;
    display: flex;
    height: 40vh;
    width: 20vw;
    margin: 5rem;
}

.inventaire5 {
    border: 2px solid black;
    display: flex;
    height: 40vh;
    width: 20vw;
    margin: 5rem;
}

.inventaire6 {
    border: 2px solid black;
    display: flex;
    height: 40vh;
    width: 20vw;
    margin: 5rem;
}


/* Bas de page */
footer  {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
}

.map, .coordonnées {
    border: 2px solid black;
}

.coordonnées {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mentions {
    text-align: center;
    border: 2px solid black;
    background-color: lightgray;

}