/* Haut de page */
header {
    text-align: center;
    background-color: rgb(180, 136, 136);
    /* border: 2px solid black; */
}

/* Interface */
.navigation {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
    background-color: burlywood;
}

/* Milieu de page */

body {
    background-color: beige;
}
.logistique {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    /* border: 2px solid black; */
}
.café {
    text-align: center;
    font-size: 20;
    margin-top: 1rem;
}

p {
    /* border: 2px solid black; */
    margin-top: 0rem;
}

.canimo {
    display: flex;
    justify-content: center;
}

.description {
    /* border: 2px solid blue; */
    margin-top: 1rem;
}
/* Milieu de page */

/* Inventaire 1 */
.inventaire1 {
    /* border: 2px solid red; */
    height: 41vh;
    width: 15vw;
    flex-direction: column;
    margin: 4rem;
    background-color: lightslategray;
}
/* Inventaire1 */

/* Inventaire 2 */
.inventaire2 {
    /* border: 2px solid red; */
    height: 41vh;
    width: 15vw;
    flex-direction: column;
    margin: 4rem;
    background-color: lightslategray;
}
/* Inventaire2 */

/* Inventaire3 */
.inventaire3 {
    /* border: 2px solid red; */
    height: 41vh;
    width: 15vw;
    flex-direction: column;
    margin: 4rem;
    background-color: lightslategray;
}
/* Inventaire3 */

/* Inventaire4 */
.inventaire4 {
    /* border: 2px solid red; */
    height: 41vh;
    width: 15vw;
    flex-direction: column;
    margin: 4rem;
    background-color: lightslategray;
}
/* Inventaire4 */

/* Inventaire5 */
.inventaire5 {
    /* border: 2px solid red; */
    height: 41vh;
    width: 15vw;
    flex-direction: column;
    margin: 4rem;
    background-color: lightslategray;
}
/* Inventaire5 */

/* Inventaire6 */
.inventaire6 {
    /* border: 2px solid black; */
    height: 41vh;
    width: 15vw;
    flex-direction: column;
    margin: 4rem;
    background-color: lightslategray;
}
/* Inventaire6 */

/* Bas de page */
footer  {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
}

.map, .coordonnées {
    /* border: 2px solid black; */
}

.coordonnées {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mentions {
    text-align: center;
    /* border: 2px solid black; */
    background-color: lightgray;

}